# Cursor IDE
.cursor/
*.plan.md

# Node modules
node_modules/

# Environment files
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
*.log


# Local Netlify folder
.netlify
SUCHANFRAGEN-KATALOG.md
Doku/PitchBT.txt
Doku/PitchDL.txt
